:root {
  --bg-color: #050607;
  --header-bg-color: rgba(10, 12, 16, 0.25);
  --recent-bg-color: linear-gradient(90deg, rgba(9, 11, 14, 0.81) 19.79%, rgba(9, 11, 14, 0) 97.4%);
  --white-color: #fff;
  --border-color: #101822;
  --btn-color: #0a0d11;
  --gray-color: #eff3fb;
  --gold-color: linear-gradient(295deg, #ffe5a1 4.89%, #bf841a 50.44%, #ffcd74 95.06%);
  --section-link-color: rgba(255, 255, 255, 0.8);
  --gold: #ffcd74;
  --gold-gradient: linear-gradient(295deg, #ffe5a1 0%, #bf841a 60%, rgba(255, 205, 116, 0.8) 80%);
  --shadow-banner: linear-gradient(270deg, #050607 -44.85%, rgba(5, 6, 7, 0) 164.04%);
  --shadow: linear-gradient(270deg, #050607 -20.15%, rgba(5, 6, 7, 0) 46.04%);
  --baner-color: #ccc;
  --baner-bg: linear-gradient(275deg, #0d1626 -0.81%, #07090c 98.64%);
}

.lightmode {
  --bg-color: #fff;
  --white-color: #171717;
  --border-color: #fff;
  --header-bg-color: rgba(255, 255, 255, 0.25);
  --btn-color: #fff;
  --section-link-color: rgba(13, 13, 13, 0.8);
  --recent-bg-color: linear-gradient(90deg, rgba(255, 255, 255, 0.81) 19.79%, rgba(255, 255, 255, 0) 97.4%);
  --shadow-banner: linear-gradient(270deg, #f5f5f5 -44.85%, rgba(245, 245, 245, 0) 164.04%);
  --shadow: linear-gradient(270deg, #f5f5f5 -20.15%, rgba(245, 245, 245, 0) 46.04%);
  --baner-color: #080a0d;
  --baner-bg: linear-gradient(275deg, #dff1f4 -0.81%, #e9eaec 98.64%);
}